<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <container>
      <register type="Rebtel.Services.IUserService, Rebtel.Services"
                mapTo="Rebtel.Services.Wcf.UserService, Rebtel.Services.Wcf" />
      <register type="Rebtel.Services.ISubscriptionService, Rebtel.Services"
                mapTo="Rebtel.Services.Wcf.SubscriptionService, Rebtel.Services.Wcf" />
    </container>
  </unity>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="RepositoryServiceBinding" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:59639/RebtelData/UserRepositoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="RepositoryServiceBinding"
                contract="Rebtel.DataAccess.Services.IUserRepositoryService" name="UserRepositoryServiceEndpoint" />

      <endpoint address="http://localhost:59639/RebtelData/SubscriptionRepositoryService.svc"
                binding="basicHttpBinding" bindingConfiguration="RepositoryServiceBinding"
                contract="Rebtel.DataAccess.Services.ISubscriptionRepositoryService"
                name="SubscriptionRepositoryServiceEndpoint" />
    </client>

    <extensions>
      <behaviorExtensions>
        <add name="webHttpJson"
             type="Rebtel.Services.Wcf.Host.WebHttpJsonBehaviorElement, Rebtel.Services.Wcf.Host, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>


    <services>
      <service name="Rebtel.Services.Wcf.UserService">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
                  binding="webHttpBinding" bindingConfiguration="" contract="Rebtel.Services.IUserService" />
      </service>

      <service name="Rebtel.Services.Wcf.SubscriptionService">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
                  binding="webHttpBinding" bindingConfiguration="" contract="Rebtel.Services.ISubscriptionService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttpJson />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>